# Exclude following scss files
_stack.scss
_anime.scss
_hover.scss
_range.scss
_pseudo.scss
_decor.scss
_fancy.scss
_form.scss
_target.scss
_gallery.scss
_vignette.scss
_masonry.scss
_lightbox.scss
_carousel.scss
_facepile.scss
_feature.scss
_toggle.scss

_observer.scss
_scroller.scss
_timeline.scss

_hero-1.scss
_hero-2.scss
_hero-3.scss
_hero-4.scss
_bg-icons.scss
_bg-shapes.scss
_box-shadow.scss
_hero-image.scss
_hero-stroke.scss
_hero-stack.scss
_hero-rotate.scss
_hero-parallax.scss
_hero-image.scss
_hero-motion.scss
_hero-anime.scss
_hero-text.scss
_hero-sign.scss
_hero-sticky.scss
_coloring-2.scss
_coloring-3.scss
_navigation.scss

test.html
test2.html

# Exclude all js and css files
*.js
*.css
*.map

