# Exclude following scss files
_stack.scss
_anime.scss
_hover.scss
_range.scss
_pseudo.scss
_gallery.scss
_shadow.scss
_vignette.scss
_masonry.scss
_lightbox.scss
_carousel.scss
_facepile.scss
_fancy.scss
_observer.scss
_scroller.scss
_timeline.scss
_feature.scss
_form.scss
_toggle.scss
_transition.scss
_hero-image.scss
_hero-stroke.scss
_hero-stack.scss
_hero-rotate.scss
_hero-parallax.scss
_hero-image.scss
_hero-motion.scss
_hero-anime.scss
_hero-text.scss
_hero-sign.scss
_hero-sticky.scss
_bg-angle.scss
_bg-center.scss
_bg-icons.scss
_bg-linear.scss
_bg-shapes.scss
_hero-1.scss
_hero-2.scss
_hero-3.scss
_hero-4.scss
_decor.scss
_element.scss
_target.scss

test.html

# Exclude all js and css files
*.js
*.css

