// breakout grid container
.breakout-grid {
  --max-content-width: 40rem;
  --breakout-difference: 0.2;

  --breakout-grid-width: calc(
    var(--max-content-width) +
      (var(--max-content-width) * var(--breakout-difference))
  );

  display: grid;
  grid-template-columns:
    [grid-start] 1fr
    [content-start] minmax(min(100%, var(--max-content-width)), 1fr)
    [content-end] 1fr
    [grid-end];
  width: min(100% - 2rem, var(--breakout-grid-width));
  row-gap: 1rem;
  margin: 5vb auto;
}

.breakout-grid > *:not(.breakout) {
  grid-column: content;
}

.breakout-grid > .breakout {
  grid-column: grid;
  padding-block: var(--space-1);
  border-block: 2px solid var(--theme-color);
}

// <ul class="breakout-grid">
//   <li></li>
//   <li class="breakout"></li>
//   <li></li>
// </ul>
