// Inputs, buttons and cta
.button,
button,
input[type="submit"],
input[type="button"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 15ch;
  text-decoration: none;
  outline: transparent;
  border: 1px solid;
  border-radius: 0.25em;
  cursor: pointer;
  font-weight: 600;
  font-stretch: normal;
  line-height: 1;
  font-size: var(--step-0);
  padding-block: var(--padding-2);
  text-transform: uppercase;
  background-color: transparent;
  transition: all 250ms ease-in-out;

  &:hover,
  &:focus-visible {
    background-color: var(--theme);
  }
}

button,
.button {
  max-width: fit-content;
}

// theme, accent and grey
button.dark,
.button.dark {
  color: var(--text);
  background-color: var(--background);

  &:hover,
  &:focus-visible {
    background-color: transparent;
  }
}

button.light,
.button.light {
  color: var(--text);
  background-color: var(--grey);

  &:hover,
  &:focus-visible {
    background-color: transparent;
  }
}

button.theme,
.button.theme {
  color: var(--text);
  background-color: var(--theme);

  &:hover,
  &:focus-visible {
    background-color: transparent;
  }
}

button.accent,
.button.accent {
  color: var(--text);
  background-color: var(--accent);

  &:hover,
  &:focus-visible {
    background-color: transparent;
  }
}

.btn-group {
  display: flex;
  gap: var(--spacing-1);
  margin-block: var(--spacing-1);
}
