// Grid form
form {
  border: var(--border-1) solid;
  background-color: var(--background);
  border-radius: var(--radius-1);
}
// form ul wrapper
.form {
  display: grid;
  max-width: 88ch;
  margin: var(--margin-3) auto;
  gap: var(--gap-1);

  // min() with 100% prevents overflow in extra narrow spaces
  // Unexpected behavior between mobile and tablet acknowledged
  // Smaller gap reduce the length of grid minmax misbehavior
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 20ch), 1fr));

  // form item wrapper
  li {
    grid-column: span 2;
  }
  // title/ message items
  .full-width {
    grid-column: 1 / -1;
  }
}

input:focus,
textarea:focus {
  border: var(--border-1) solid;
}

textarea {
  resize: none;
  min-height: 10em;
}

textarea,
select,
option,
input {
  padding: var(--padding-1);
  border: var(--border) solid;
  border-radius: var(--radius-1);
  width: 100%;
}
textarea:focus,
select:focus,
input:focus {
  border: var(--border-1) solid;
  outline-color: transparent;
}

input[type="checkbox"]:focus {
  outline: 1px dotted;
}

label,
legend,
fieldset {
  display: block;
  font-weight: 400;
}

// input interaction behavior
input {
  border: 1px solid;
}
// border turns red
input:not(:focus):not(:placeholder-shown):invalid {
  border-color: var(--clr-hint);
}
// border turns green
input:not(:focus):not(:placeholder-shown):valid {
  border-color: var(--clr-okay);
}
// shown hint
input:not(:focus):not(:placeholder-shown):invalid ~ .hint {
  display: block;
}
// hidden default
.hidden {
  display: none;
}
.hint {
  color: var(--clr-hint);
}
