// structure
html {
  color: var(--text);
  background-color: var(--background);
  scroll-padding-top: 2rem; // below navigation
  scroll-behavior: smooth;
  // Font Rendering
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden; // no horizontal scroll
  min-height: 100vh;
}

// Keep footer at bottom
footer {
  margin-top: auto;
}

header,
footer {
  padding-block: 1rem;
  padding-inline: 1rem;
}

main,
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; // required for visual elements
}
// content box - capped, centered & padded at 1280px

// internal wrappers
.main,
.section,
.header,
.footer {
  width: min(100%, 80em);
  margin-inline: auto;
  padding-inline: 1rem;
  // content box - capped, centered & padded at 1280px
}

.main--padded,
.section--padded {
  padding-block: var(--padding-double);
  // For positioning, coloring & graphics up to 150px height
}

// block element
hr {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

ul,
ol {
  li::marker {
    color: var(--theme);
  }
}

img,
picture {
  margin-inline: auto;
  border-radius: var(--px-5);
}

audio,
video,
embed,
object {
  width: 100%;
  display: block;
}

audio {
  border: 2px solid; // audio wrapper style
  border-radius: 1em;
}

iframe {
  border: 1px solid black;
  width: 100%; /* takes precedence over the width set with the HTML width attribute */
}
