// Smart Layouts
// vertical center based on height
.grid {
  display: grid;
}
// horizontal flex and center
.flex {
  display: flex;
}
// single grid
.grid-uno {
  display: grid;
  min-height: 40vh;
  padding-inline: 10vw;
  place-content: center;
  background: var(--theme-glassy);
}

// multi-grid
.grid-auto {
  display: grid;
  margin-inline: auto;
  gap: var(--spacing-1);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 20em), 1fr));
}

// multi-flex
.flex-auto {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-1);

  // flex items (li)
  > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20em;
  }
}

// Flexbox
.flex-side {
  display: flex;
  flex-wrap: wrap;
  margin: var(--spacing-1) auto;
  max-width: 55em;
  gap: var(--spacing-1);
  background: var(--theme-dark);

  > *:nth-child(1) {
    flex: 1 1 35%;
    display: grid;
    align-self: center;
  }

  > *:nth-child(2) {
    flex: 1 1 55%;
    min-width: 20em;
  }
}

// Fixed sidebar
.grid-side {
  display: grid;
  gap: var(--spacing-1);
  max-width: 60em;
  margin-inline: auto;
  grid-template-columns: fit-content(35ch) minmax(min(45vw, 45ch), 1fr);

  img {
    border-bottom: 2px solid var(--theme);
    border-top-right-radius: 25%;
    display: grid;
    align-self: baseline;
  }
  article {
    display: grid;
    gap: var(--spacing-1);
    align-self: end;
  }
}

// HTML Template

// <div class="grid">
//         <h2>Lorem ipsum dolor sit amet.</h2>
//         <p>
//           Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, eos.
//           Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi
//         </p>
//       </div>

// <div class="sidebar-grid">
// <img src="https://unsplash.it/400" alt="" />
// <article>
//   <h2>Lorem ipsum dolor sit amet</h2>

//   Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
// </article>
// </div>

// <div class="sidebar-flex">
// <article>
//   <h2>Lorem ipsum dolor sit amet</h2>

//   <p>
//     Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
//     alias?
//   </p>
//   <p>
//     Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
//     alias?
//   </p>

//   <p>
//     Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
//     alias?
//   </p>
//   <p>
//     Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
//     alias?
//   </p>
// </article>
// <img src="https://unsplash.it/400" alt="" />
// </div>
