// Standard links
:where(a:link) {
  color: var(--text);
  font-weight: 500;
  text-decoration: underline;
  padding-inline: 0.125em;
  text-underline-offset: 0.125em;

  &:hover,
  &:focus {
    color: var(--clr-link);
  }

  &:visited {
    color: var(--clr-visited);
  }
}
