// Popup Dialog
dialog {
  background-color: var(--background);
  color: var(--text);
  border: none;
  border-radius: var(--radius);
  border-color: var(--theme);
  padding: var(--spacing);
}

dialog::backdrop {
  background: var(--theme);
  backdrop-filter: blur(0.15em);
  -webkit-backdrop-filter: blur(0.15em);
  transition: backdrop-filter 250ms ease-in-out;
}

::selection {
  background-color: var(--hover);
  color: var(--text);
}
