// horizontal scroll snapper
// li directly inside ul
.scroll-snap {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1em;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 0 0 1em;
  -webkit-overflow-scrolling: touch;
}

.scroll-snap > * {
  width: min(40ch, 60vw);
  scroll-snap-align: center;
  scroll-snap-stop: always;
  padding: var(--spacing);
  border-bottom: var(--b-radius) solid var(--theme);
  border-radius: var(--b-radius);
  background-color: var(--shade);
}
