// Table
table {
  border-collapse: collapse;
  overflow-x: auto;
  width: 100%;
}

th,
td {
  padding: 0.5em 0.75em;
}

th {
  text-align: left;
  color: var(--theme-dark);
}

td {
  border-bottom: 1px solid;
}

th:first-child,
td:first-child {
  padding-left: 0.5em;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tr th {
  border-bottom: 2px solid;
}
