// variables
:root {
  /* color variables */
  --text: hsl(0, 0%, 5%);
  --text-grey: hsl(0, 0%, 55%);
  --text-inverse: hsl(0, 0%, 95%);
  --background: hsl(0, 0%, 98%);

  --theme: hsl(180, 50%, 50%);
  --theme-dark: hsl(180, 50%, 30%);
  --theme-light: hsl(180, 50%, 65%);

  --accent: hsl(0, 100%, 50%);
  --accent-dark: hsl(0, 100%, 30%);
  --accent-light: hsl(0, 100%, 65%);

  --grey: hsl(0, 0%, 65%);
  --grey-light: hsl(0, 0%, 75%);
  --grey-dark: hsl(0, 0%, 50%);

  --black: hsl(0, 0%, 25%);
  --black-light: hsl(0, 0%, 30%);
  --black-dark: hsl(0, 0%, 20%);

  --white: hsl(0, 0%, 90%);
  --white-light: hsl(0, 0%, 95%);
  --white-dark: hsl(0, 0%, 85%);
  // accessible colors
  --clr-okay: hsl(110, 100%, 30%);
  --clr-hint: hsl(0, 75%, 50%);
  --clr-mark: hsl(45, 100%, 50%);
  --clr-link: hsl(215, 75%, 50%);
  --clr-past: hsl(300, 100%, 25%);
  // options (neon, black, theme or accent)
  --shadow-color: 0deg 0% 0%; // default black
  --filter-color: 0deg 0% 0%; // default black
  --inset-shadow: inset 0 0 20px -10px rgba(0, 0, 0, 0.25);
  // Form elements (neon, black, theme or accent)
  accent-color: var(--theme); // default vary depending on browser vendor

  /* paddings and spacings */
  --stroke-1: 1px;
  --stroke-2: 2px;
  --stroke-3: 3px;
  --stroke-4: 4px;
  --stroke-5: 5px;

  --space-025: 0.25em;
  --space-050: 0.5em;
  --space-075: 0.75em;
  --space-100: 1em;
  --space-200: 2em;
  --space-300: 3em;

  --fluid-space-025: clamp(0.25em, 1.75%, 0.5em);
  --fluid-space-050: clamp(0.5em, 2.5%, 1em);
  --fluid-space-075: clamp(0.75em, 3.75%, 1.5em);
  --fluid-space-100: clamp(1em, 5%, 2em);
  --fluid-space-200: clamp(2em, 10%, 6em);
  --fluid-space-300: clamp(3em, 15%, 9em);

  // variant settings
  --options-base: "wght" 400, "wdth" 100, "opsz" 14, "GRAD" 0, "XTRA" 468,
    "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738,
    "XOPQ" 96, "slnt" 0;

  // normal
  --options-body: "wght" 400, "wdth" 100, "opsz" 14, "GRAD" 0, "XTRA" 500,
    "YOPQ" 79, "YTLC" 475, "YTUC" 712, "YTAS" 800, "YTDE" -150, "YTFI" 650,
    "XOPQ" 96, "slnt" 0;

  --options-body-bold: "wght" 650, "wdth" 100, "opsz" 14, "GRAD" 0, "XTRA" 500,
    "YOPQ" 79, "YTLC" 475, "YTUC" 712, "YTAS" 800, "YTDE" -150, "YTFI" 650,
    "XOPQ" 96, "slnt" 0;

  --options-body-slant: "wght" 400, "wdth" 100, "opsz" 14, "GRAD" 0, "XTRA" 500,
    "YOPQ" 79, "YTLC" 475, "YTUC" 712, "YTAS" 800, "YTDE" -150, "YTFI" 650,
    "XOPQ" 96, "slnt" -10;

  // heading
  --options-head: "wght" 650, "wdth" 100, "opsz" 14, "GRAD" 0, "XTRA" 500,
    "YOPQ" 25, "YTLC" 475, "YTUC" 712, "YTAS" 800, "YTDE" -150, "YTFI" 650,
    "XOPQ" 96, "slnt" 0;

  // bold large
  --options-bold: "wght" 1000, "wdth" 100, "opsz" 14, "GRAD" 0, "XTRA" 500,
    "YOPQ" 25, "YTLC" 475, "YTUC" 712, "YTAS" 800, "YTDE" -150, "YTFI" 650,
    "XOPQ" 96, "slnt" 0;

  // narrow bold
  --options-tall: "wght" 650, "wdth" 50, "opsz" 14, "GRAD" 0, "XTRA" 400,
    "YOPQ" 25, "YTLC" 475, "YTUC" 712, "YTAS" 800, "YTDE" -150, "YTFI" 650,
    "XOPQ" 96, "slnt" 0;

  // wide uppercase
  --options-wide: "wght" 650, "wdth" 100, "opsz" 14, "GRAD" 0, "XTRA" 603,
    "YOPQ" 135, "YTLC" 475, "YTUC" 528, "YTAS" 800, "YTDE" -150, "YTFI" 650,
    "XOPQ" 96, "slnt" 0;

  /* fallback fonts */
  --family-system: system-ui, sans-serif; // text + heading

  --family-grotesque: Inter, Roboto, "Helvetica Neue", "Arial Nova",
    "Nimbus Sans", Arial, sans-serif; // text + heading

  --family-geometric: Avenir, "Avenir Next LT Pro", Montserrat, Corbel,
    "URW Gothic", source-sans-pro, sans-serif; // text

  --family-humanist: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif; // text

  --family-modern: Didot, "Bodoni MT", "Noto Serif Display", "URW Palladio L",
    P052, Sylfaen, serif; // heading

  --family-industrial: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
    "Nimbus Sans Narrow", sans-serif-condensed, sans-serif; // heading

  --family-monospace: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
    Consolas, "DejaVu Sans Mono", monospace; // coding

  --family-cursive: "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual,
    cursive; // writing

  // Utopia sizing (320-1280 @1.333, -1 to 9)
  --step--1: clamp(0.75rem, calc(0.63rem + 0.63vw), 1.13rem);
  --step-0: clamp(1rem, calc(0.83rem + 0.83vw), 1.5rem);
  --step-1: clamp(1.33rem, calc(1.11rem + 1.11vw), 2rem);
  --step-2: clamp(1.78rem, calc(1.48rem + 1.48vw), 2.67rem);
  --step-3: clamp(2.37rem, calc(1.97rem + 1.97vw), 3.55rem);
  --step-4: clamp(3.16rem, calc(2.63rem + 2.63vw), 4.74rem);
  --step-5: clamp(4.21rem, calc(3.51rem + 3.51vw), 6.31rem);
  --step-6: clamp(5.61rem, calc(4.67rem + 4.68vw), 8.42rem);
  --step-7: clamp(7.48rem, calc(6.23rem + 6.23vw), 11.22rem);
  --step-8: clamp(9.97rem, calc(8.31rem + 8.31vw), 14.95rem);
  --step-9: clamp(13.29rem, calc(11.07rem + 11.07vw), 19.93rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(0, 0%, 95%);
    --text-grey: hsl(0, 0%, 50%);
    --text-inverse: hsl(0, 0%, 5%);
    --background: hsl(0, 0%, 20%);

    --theme: hsl(180, 50%, 45%);
    --theme-dark: hsl(180, 50%, 25%);
    --theme-light: hsl(180, 50%, 60%);

    --accent: hsl(0, 100%, 45%);
    --accent-dark: hsl(0, 100%, 25%);
    --accent-light: hsl(0, 100%, 60%);

    --grey: hsl(0, 0%, 60%);
    --grey-light: hsl(0, 0%, 75%);
    --grey-dark: hsl(0, 0%, 50%);

    --white: hsl(0, 0%, 90%);
    --white-light: hsl(0, 0%, 95%);
    --white-dark: hsl(0, 0%, 85%);

    --black: hsl(0, 0%, 20%);
    --black-light: hsl(0, 0%, 15%);
    --black-dark: hsl(0, 0%, 25%);

    // shadow color / form element
    --shadow-color: 200deg 100% 50%;
    accent-color: var(--theme);

    // reduced colors on dark mode
    --clr-okay: hsl(110, 100%, 30%);
    --clr-hint: hsl(0, 75%, 40%);
    --clr-mark: hsl(40, 100%, 40%);
    --clr-link: hsl(215, 75%, 40%);
    --clr-past: hsl(300, 100%, 20%);
  }
  // reduced img brightness on dark mode
  img {
    filter: brightness(0.8) contrast(1.2);
  }
}
