/* Variant Sans Fonts */
@font-face {
  font-family: "RobotoFlex-Variable";
  src: url("../fonts/RobotoFlex-Variable.woff2") format("woff2-variations"), url("../fonts/RobotoFlex-Variable.woff2") format("woff2");
  font-style: normal;
  font-display: fallback;
  font-weight: 100 1000; /* prevents faux bolding in Safari */
  font-stretch: 25% 150%; /* required by Chrome */
}
/* Static fallback Font */
@font-face {
  font-family: "RobotoFlex-Regular";
  src: url("../fonts/RobotoFlex-Regular.woff") format("woff");
  font-style: normal;
  font-display: fallback; /* method of loading font */
}
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

:root {
  /* color Variables */
  --text: hsl(0, 0%, 5%);
  --text-grey: hsl(0, 0%, 55%);
  --text-inverse: hsl(0, 0%, 95%);
  --background: hsl(0, 0%, 98%);
  --theme: hsl(180, 50%, 50%);
  --theme-dark: hsl(180, 50%, 30%);
  --theme-light: hsl(180, 50%, 65%);
  --accent: hsl(0, 100%, 50%);
  --accent-dark: hsl(0, 100%, 30%);
  --accent-light: hsl(0, 100%, 65%);
  --grey: hsl(0, 0%, 65%);
  --grey-light: hsl(0, 0%, 75%);
  --grey-dark: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 25%);
  --black-light: hsl(0, 0%, 30%);
  --black-dark: hsl(0, 0%, 20%);
  --white: hsl(0, 0%, 90%);
  --white-light: hsl(0, 0%, 95%);
  --white-dark: hsl(0, 0%, 85%);
  --clr-okay: hsl(110, 100%, 30%);
  --clr-hint: hsl(0, 75%, 50%);
  --clr-mark: hsl(45, 100%, 50%);
  --clr-link: hsl(215, 75%, 50%);
  --clr-past: hsl(300, 100%, 25%);
  --shadow-color: 0deg 0% 0%;
  --filter-color: 0deg 100% 50%;
  --inset-shadow: inset 0 0 20px -10px rgba(0, 0, 0, 0.25);
  accent-color: var(--theme);
  /* Properties */
  --px-1: 1px;
  --px-2: 2px;
  --px-3: 3px;
  --px-4: 4px;
  --px-5: 5px;
  --em-1: 0.25em;
  --em-2: 0.5em;
  --em-3: 1em;
  --em-4: 1.5em;
  --em-5: 3em;
  --padding-1: clamp(0.25em, 1.75%, 0.5em);
  --padding-2: clamp(0.5em, 2.5%, 1em);
  --padding-3: clamp(1em, 5%, 2em);
  --padding-4: clamp(2em, 10%, 6em);
  --padding-5: clamp(4em, 20%, 12em);
  --spacing-1: clamp(0.25em, 1.75%, 0.5em);
  --spacing-2: clamp(0.5em, 2.5%, 1em);
  --spacing-3: clamp(1em, 5%, 2em);
  --spacing-4: clamp(2em, 10%, 6em);
  --spacing-5: clamp(4em, 20%, 12em);
  /* modern fallback fonts */
  --fb-system: system-ui, sans-serif;
  --fb-grotesque: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
  --fb-geometric: Avenir, "Avenir Next LT Pro", Montserrat, Corbel, "URW Gothic",
    source-sans-pro, sans-serif;
  --fb-humanist: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  --fb-modern: Didot, "Bodoni MT", "Noto Serif Display", "URW Palladio L", P052,
    Sylfaen, serif;
  --fb-industrial: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
    "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
  --fb-monospace: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
    Consolas, "DejaVu Sans Mono", monospace;
  --fb-cursive: "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual,
    cursive;
  --step--2: clamp(0.56rem, calc(0.61rem + -0.07vw), 0.6rem);
  --step--1: clamp(0.75rem, calc(0.72rem + 0.14vw), 0.83rem);
  --step-0: clamp(0.94rem, calc(0.83rem + 0.54vw), 1.25rem);
  --step-1: clamp(1.17rem, calc(0.93rem + 1.22vw), 1.88rem);
  --step-2: clamp(1.47rem, calc(1rem + 2.34vw), 2.81rem);
  --step-3: clamp(1.83rem, calc(1rem + 4.15vw), 4.22rem);
  --step-4: clamp(2.29rem, calc(0.88rem + 7.03vw), 6.33rem);
  --step-5: clamp(2.86rem, calc(0.55rem + 11.53vw), 9.49rem);
  --step-6: clamp(3.58rem, calc(-0.13rem + 18.54vw), 14.24rem);
  --step-7: clamp(4.47rem, calc(-1.4rem + 29.37vw), 21.36rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(0, 0%, 95%);
    --text-grey: hsl(0, 0%, 50%);
    --text-inverse: hsl(0, 0%, 5%);
    --background: hsl(0, 0%, 20%);
    --theme: hsl(180, 50%, 45%);
    --theme-dark: hsl(180, 50%, 25%);
    --theme-light: hsl(180, 50%, 60%);
    --accent: hsl(0, 100%, 45%);
    --accent-dark: hsl(0, 100%, 25%);
    --accent-light: hsl(0, 100%, 60%);
    --grey: hsl(0, 0%, 60%);
    --grey-light: hsl(0, 0%, 75%);
    --grey-dark: hsl(0, 0%, 50%);
    --white: hsl(0, 0%, 90%);
    --white-light: hsl(0, 0%, 95%);
    --white-dark: hsl(0, 0%, 85%);
    --black: hsl(0, 0%, 20%);
    --black-light: hsl(0, 0%, 15%);
    --black-dark: hsl(0, 0%, 25%);
    --shadow-color: 200deg 100% 50%;
    accent-color: var(--theme);
    --clr-okay: hsl(110, 100%, 30%);
    --clr-hint: hsl(0, 75%, 40%);
    --clr-mark: hsl(40, 100%, 40%);
    --clr-link: hsl(215, 75%, 40%);
    --clr-past: hsl(300, 100%, 20%);
  }
  img {
    filter: brightness(0.8) contrast(1.2);
  }
}
body {
  line-height: normal;
  font-weight: normal;
  font-stretch: normal;
  text-rendering: optimizeSpeed;
  font-family: "RobotoFlex-Variable", "RobotoFlex-Regular", var(--fb-system);
  font-variation-settings: "wght" 400, "wdth" 100, "opsz" 14, "GRAD" 0, "slnt" 0, "XTRA" 468, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712, "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  word-break: break-all;
}

.logo {
  line-height: 1;
}

a,
p,
li,
span {
  font-size: var(--step-1);
  font-weight: 300;
  font-stretch: expanded;
  font-variation-settings: "wght" 300, "wdth" 125;
}

small {
  font-size: var(--step--1);
}

.title,
h1 {
  font-size: var(--step-5);
  text-align: center;
  font-weight: 200;
  font-stretch: condensed;
  font-variation-settings: "wght" 200, "wdth" 75;
}

.subtitle,
h2 {
  font-size: var(--step-4);
}

.heading,
h3 {
  font-size: var(--step-3);
  font-weight: 800;
  font-variation-settings: "wght" 800;
}

.subheading,
h4 {
  font-size: var(--step-2);
}

h5,
.label {
  font-size: var(--step-1);
  font-weight: 800;
  font-stretch: condensed;
  font-variation-settings: "wght" 800, "wdth" 75;
}

h6,
.caption {
  font-size: var(--step-0);
  color: var(--theme);
  text-transform: uppercase;
  font-stretch: extra-expanded;
  font-variation-settings: "wght" 800, "wdth" 150;
}

.hero-text {
  line-height: 1;
  font-size: var(--step-6);
  font-weight: 1000;
  font-stretch: extra-condensed;
  font-variation-settings: "wght" 1000, "wdth" 50;
  background: linear-gradient(to right, var(--theme-light), var(--theme-dark));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title,
.subtitle,
.heading,
.subheading,
.label,
.caption,
.hero-text {
  display: block;
  word-break: break-all;
}

.grey,
.white,
.black,
.accent,
.theme {
  background-size: 150%;
  background-position: center;
}

.theme {
  background-image: linear-gradient(45deg, var(--theme-dark), var(--theme-light));
}

.accent {
  background-image: linear-gradient(45deg, var(--accent-dark), var(--accent-light));
}

.black {
  background-image: linear-gradient(45deg, var(--black-dark), var(--black-light));
}

.white {
  background-image: linear-gradient(45deg, var(--white-dark), var(--white-light));
}

.grey {
  background-image: linear-gradient(45deg, var(--grey-dark), var(--grey-light));
}

html {
  color: var(--text);
  background-color: var(--background);
  scroll-padding-top: 2rem;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100vh;
}

header {
  min-height: 1rem;
}

header,
footer {
  padding-block: 1rem;
}

footer {
  margin-top: auto;
}

header,
main,
section,
footer {
  display: block;
}

article {
  padding-inline: 1rem;
  margin-inline: auto;
}

main,
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 10rem;
}

.content,
.content--padded {
  width: min(100%, 80em);
  margin-inline: auto;
  padding-inline: 1rem;
}
.content * + *,
.content--padded * + * {
  margin-top: var(--spacing-2);
}

.content--padded {
  padding-block: var(--padding-5);
}

hr {
  margin-top: 3em;
  margin-bottom: 3em;
  border-radius: var(--radius-1);
}

ul li::marker,
ol li::marker {
  color: var(--theme);
}

img,
picture {
  margin-inline: auto;
  border-radius: var(--radius-1);
}

audio,
video,
embed,
object {
  width: 100%;
  display: block;
}

audio {
  border: 2px solid;
  border-radius: 1em;
}

iframe {
  border: 1px solid black;
  width: 100%; /* takes precedence over the width set with the HTML width attribute */
}

em {
  font-style: italic;
  font-stretch: extra-expanded;
  font-variation-settings: "slnt" -8, "wdth" 150;
}

strong,
dfn,
var,
dt {
  font-style: bold;
  font-weight: 700;
  font-stretch: extra-expanded;
  font-variation-settings: "wght" 700, "wdth" 150;
}

q {
  padding-block: var(--padding-1);
}

small {
  font-size: var(--step--1);
}

del {
  text-decoration: line-through;
  background-color: #fbb;
  color: #555;
}

ins {
  text-decoration: none;
  background-color: green;
}

hgroup {
  border-bottom: 1px solid;
}

dl {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-block: 1em;
}

dd {
  margin-bottom: 0.5em;
}

.grid-half,
.grid-third,
.grid-full {
  display: grid;
  place-content: center;
  padding-inline: 1rem;
  margin-inline: auto;
  width: min(100%, 80em);
}

.grid-half {
  min-height: 45vh;
}

.grid-third {
  min-height: 70vh;
}

.grid-full {
  min-height: 100vh;
}

.grid-auto {
  display: grid;
  gap: var(--spacing-1);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 20em), 1fr));
}

.flex-auto {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-1);
}
.flex-auto > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 20em;
}

.flex-side {
  display: flex;
  flex-wrap: wrap;
  margin: var(--spacing-1) auto;
  max-width: 55em;
  gap: var(--spacing-1);
  background: var(--theme-dark);
}
.flex-side > *:nth-child(1) {
  flex: 1 1 35%;
  display: grid;
  align-self: center;
}
.flex-side > *:nth-child(2) {
  flex: 1 1 55%;
  min-width: 20em;
}

.grid-side {
  display: grid;
  gap: var(--spacing-1);
  max-width: 60em;
  margin-inline: auto;
  grid-template-columns: fit-content(35ch) minmax(min(45vw, 45ch), 1fr);
}
.grid-side img {
  border-bottom: 2px solid var(--theme);
  border-top-right-radius: 25%;
  display: grid;
  align-self: baseline;
}
.grid-side article {
  display: grid;
  gap: var(--spacing-1);
  align-self: end;
}

.button,
button,
input[type=submit],
input[type=button] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 15ch;
  text-decoration: none;
  outline: transparent;
  border: 1px solid;
  border-radius: 0.25em;
  cursor: pointer;
  font-weight: 600;
  font-stretch: normal;
  line-height: 1;
  font-size: var(--step-0);
  padding-block: var(--padding-1);
  text-transform: uppercase;
  background-color: transparent;
  transition: all 250ms ease-in-out;
}
.button:hover, .button:focus-visible,
button:hover,
button:focus-visible,
input[type=submit]:hover,
input[type=submit]:focus-visible,
input[type=button]:hover,
input[type=button]:focus-visible {
  background-color: var(--theme);
}

button,
.button {
  max-width: fit-content;
}

button.dark,
.button.dark {
  color: var(--text);
  background-color: var(--background);
}
button.dark:hover, button.dark:focus-visible,
.button.dark:hover,
.button.dark:focus-visible {
  background-color: transparent;
}

button.light,
.button.light {
  color: var(--text);
  background-color: var(--grey);
}
button.light:hover, button.light:focus-visible,
.button.light:hover,
.button.light:focus-visible {
  background-color: transparent;
}

button.theme,
.button.theme {
  color: var(--text);
  background-color: var(--theme);
}
button.theme:hover, button.theme:focus-visible,
.button.theme:hover,
.button.theme:focus-visible {
  background-color: transparent;
}

button.accent,
.button.accent {
  color: var(--text);
  background-color: var(--accent);
}
button.accent:hover, button.accent:focus-visible,
.button.accent:hover,
.button.accent:focus-visible {
  background-color: transparent;
}

.btn-group {
  display: flex;
  gap: var(--spacing-1);
  margin-block: var(--spacing-1);
}

.flex-auto > li {
  border: var(--border-1) solid;
  border-radius: var(--radius-1);
  padding: var(--padding-1);
  overflow: hidden;
}

.grid-auto > li {
  border-radius: var(--radius-1);
  padding: var(--padding-1);
  box-shadow: var(--box-shadow-1);
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}
.card > img {
  aspect-ratio: 3/2;
  object-fit: cover;
  width: 100%;
}
.card > img:first-child {
  border-radius: 0.5em 0.5em 0 0;
}
.card > img:last-child {
  border-radius: 0 0 0.5em 0.5em;
  margin-top: auto;
}
.card > :not(img) {
  margin-left: 1em;
  margin-right: 1em;
}
.card > :not(img):first-child {
  margin-top: 1em;
}
.card > :last-of-type:not(img, h3) {
  margin-bottom: 1em;
}
.card > :not(h3) {
  font-size: 0.9em;
}
.card > a {
  align-self: start;
}

.card-pro {
  padding: var(--padding-1);
  border-radius: var(--radius-1);
}
.card-pro > img {
  opacity: var(--opacity-1);
  object-fit: cover;
  object-position: center;
  filter: sepia(50%);
  transition: filter 250ms ease-in-out;
}
.card-pro > img:hover,
.card-pro > img:focus {
  filter: sepia(0);
}
.card-pro > .description {
  align-self: end;
  isolation: isolate;
  padding: var(--padding-1);
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: var(--background-glassy);
}
.card-pro > .suggest {
  align-self: start;
  justify-self: end;
  isolation: isolate;
  padding: var(--pad);
  border-bottom-left-radius: 5px;
  background-color: var(--theme);
}

:where(a:link) {
  color: var(--text);
  font-weight: 500;
  outline: transparent;
  text-decoration: underline;
  padding-inline: 0.125em;
  text-underline-offset: 0.125em;
}
:where(a:link):hover, :where(a:link):focus-visible {
  color: var(--clr-link);
}
:where(a:link):visited {
  color: var(--clr-past);
}

@media print {
  body,
  summary,
  details,
  button,
  input,
  textarea {
    background-color: #fff;
  }
  button,
  input,
  textarea {
    border: 1px solid #000;
  }
  body,
  h1,
  h2,
  h3,
  h4,
  button,
  input,
  textarea,
  footer,
  summary,
  strong {
    color: #000;
  }
  summary::marker {
    color: #000;
  }
  summary::-webkit-details-marker {
    color: #000;
  }
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  a {
    color: #00f;
    text-decoration: underline;
  }
}